<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue常用的指令2:v-model双向绑定</title>
    <script src="js/vue.js"></script>
    <!--<script src="js/jquery-1.11.3.min.js"></script>-->
    <script>
        window.onload  =function(){
            //box相当于mvc框架中的c,
            var box = new Vue({
                el:"#box",//el绑定元素,里面是选择器
                data:{ //  放数据的东西,angular中的$scope
                    message:"Hello Vue",
                    message2:12,
                    message3:true,
                    arr:[1,2,3,4,5],
                    json:{"a":"apple","b":"banana","c":"origin"}
                }//data里面的数据支持基本数据类型(自己觉得)
            });
        }
    </script>
</head>
<body>
    <div id="box">
        <input type="text" v-model="message">
        <input type="text" v-model="message">
        <br>
        {{message}}
        <br>
        {{message2}}
        <br>
        {{message3}}
        <br>
        {{arr}}
        <br>
        {{json}}
    </div>
</body>
</html>