<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>vue交互-resource.get</title>
    <script src="bower_components/vue/dist/vue.js"></script>
    <!--<script src="js/vue1x.js"></script>-->
    <script src="bower_components/vue-resource/dist/vue-resource.js"></script>
    <!--<script src="js/jquery-1.11.3.min.js"></script>-->
    <script>
        window.onload = function() {
            //box相当于mvc框架中的c,
            var vm = new Vue({
                el: "#box", //el绑定元素,里面是选择器
                data: {
                    paramA: '',
                    paramB: '',
                },
                methods: {
                    getText() {
                        this.$http.get("get.php", {
                            params: {
                                "a": this.paramA,
                                "b": this.paramB
                            }

                        }).then(function(sucRes) {
                            alert(sucRes.data);
                        }, function(errRes) {
                            console.log(errRes);
                        });
                    }
                }
            });
        }
    </script>
    <style>

    </style>
</head>

<body>
    <div id="box">
        <input type="text" v-model='paramA'>
        <input type="text" v-model='paramB'>
        <input type="button" name="a" value="按钮" @click="getText">
    </div>
</body>

</html>