<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>vue过滤器filterBy</title>
    <script src="bower_components/vue/dist/vue.js"></script>
    <!--<script src="js/jquery-1.11.3.min.js"></script>-->
    <script>
        window.onload = function() {
            //box相当于mvc框架中的c,
            var vm = new Vue({
                el: "#box", //el绑定元素,里面是选择器
                data: {
                    arr:["width","height","background","orange"],
                    msg:''
                }
            });
        }
    </script>
    <style>

    </style>
</head>

<body>
    <div id="box">
        <input type="text" v-model="msg">
        <ul>
            <li v-for="val in arr | filterBy msg">
                {{val}}
            </li>
        </ul>
        <hr>
    </div>
</body>

</html>